<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
<<<<<<< HEAD
    title Realo
=======
    title REALO
>>>>>>> 2ab0dfb4115a6d547c1e3a97252a0365ed1bfe7b
    style
      include css/global.css
      block styles
  body
    header
      h2.subheader Real estate listings fast
      h1 REALO
      nav
        a(href="/") Home
        a(href="/filters") Filters
        a(href="/about-us") About Us
    block content
