<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title REALO
    style
      include css/global.css
      block styles
  body
    header
      h1 REALO
      nav
        a(href="/") Home
        a(href="/filters") Filters
        a(href="/about-us") About Us
    block content
