extends _layout.pug

block content
  h2 Sydney James
    ul
      li Favorite Portland Neighborhood? Irvington
      li What's Your Story?: What's In my past life I worked in the wine industry and in hospitality as a sales and event manager. I found coding through a desire to solve problems and challenge myself to do something HARD. In my free time I'm an avid home cook, house project-doer, and not-musically-inclined karaoke queen.
      li Coolest Part of This Project?: Successful scraping and using nodemailer.
  h2 Jeff Irvine
  h2 Erik Graciosa
  h2 Kevin Fiero
  