extends _layout.pug

block styles
  include css/aboutUs.css

block content
  h2 Sydney James
    ul
      li 
        span Favorite Portland Neighborhood?
        p Irvington
      li 
        span What's Your Story?: 
        p What's In my past life I worked in the wine industry and in hospitality as a sales and event manager. I found coding through a desire to solve problems and challenge myself to do something HARD. In my free time I'm an avid home cook, house project-doer, and not-musically-inclined karaoke queen.
      li 
        span Coolest Part of This Project?:
        p Successful scraping and using nodemailer.
  h2 Jeff Irvine
  h2 Erik Graciosa
  h2 Kevin Fiero
  