.bio-card {
  width: 60%;
  border: 2px solid black;
  padding: 10px;
  display: block;
  overflow: auto;
}

.bio-card-text {
  display: block;
}

ul {
  list-style-type: none;
}

.bio-card_image {
  margin-right: 15px;
  border-radius: 50%;
  max-width: 180px;
  height: auto;
  float: left;
}

h3 {
  font-size: 150%;
}

p {
  font-size: 110%;
  font-weight: normal;
}
