
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

#title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
=======
.subheader {
  display: block;
  font-size: 75%;
  opacity: 0.8;
}
>>>>>>> feedad40e0f2fda54e4ba2296b5e4ed8be4e3b99

