body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheader {
  display: block;
  font-size: 75%;
  opacity: 0.8;
}
