body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color: #ffffff;
=======
  font-family: Helvetica, Arial, sans-serif;
>>>>>>> 7e205b275df624e074ca48b32055d966ee166dd4
}

header {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.subheader {
  display: block;
  font-size: 75%;
  opacity: 0.8;
}

<<<<<<< HEAD

=======
>>>>>>> 7e205b275df624e074ca48b32055d966ee166dd4
#homeLinks {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.button1 {
display: inline-block;
padding: 0.35em 1.2em;
border: 0.1em solid #000000;
margin: 0 0.3em 0.3em 0;
border-radius: 0.12em;
box-sizing: border-box;
text-decoration: none;
font-family: 'Roboto',sans-serif;
font-weight: 300;
color: #000000;
text-align: center;
transition: all 0.2s;
  }
.button1:hover{
color:#ffffff;
background-color:#202020;
  }
  @media all and (max-width:30em){
   
  .button1{
  display:block;
  margin:0.4em auto;
  }
 }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> fa09da3dbe9201745c0fb67f3522beb2852312c2
=======

  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

.button1:hover {
  color: #ffffff;
  background-color: #202020;
}
@media all and (max-width: 30em) {
    .button1 {
    display: block;
    margin: 0.4em auto;
  }
 }

>>>>>>> 7e205b275df624e074ca48b32055d966ee166dd4
=======
>>>>>>> bd0d4ee4ee77e63e442e5790506ce6a18d792fc1
